.size-button {
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.size-button:hover {
    background-color: #d1d5db; 
    border-color: black;
}

.size-button:focus {
    outline: none;
    border-color: black; 
}
